doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Защита и восстановление фасада
    link(rel='stylesheet', href='../styles/stylesheet.css')
    link(rel='stylesheet', href='../styles/main.css')
  body
    header.header.sticky
      .header__container
        .header__brand
          img(src='../views/images/logo.jpg', alt='Логотип компании')
        nav.header__nav
          ul.menu-list
            li.menu-list__item
              a.item-link(href='#main__about') Материал щит
            li.menu-list__item
              a.item-link(href='#main__stages') Этапы работ
            li.menu-list__item
              a.item-link(href='#main__characteristics') Характеристики
            li.menu-list__item
              a.item-link(href='#main__price') Стоимость
            li.menu-list__item
              a.item-link(href='#main__portfolio') Благодарственные письма
          .menu-order
            button.btn.btn--accent(onclick="window.location = '#main__order'") Отправить заявку
        .header__contacts
          .contacts__icon
            img(src='../views/images/phone.png', alt='Иконка телефона')
          .contacts__content.text--bold 8 (951) 668-93-13
    main.main
      section.main__banner.banner__container
        .banner__image
        .banner__content
          h1.content__title.text--bold Защита и восстановление фасада
          h3.content__description.text--normal Защитное покрытие для фасадок, декоративного камня и дерева
          .content__actions
            button.btn.btn--accent(onclick="window.location = '#main__order'") Отправить заявку
      section#main__about.main__about
        h2.about__heading.heading.center
          | Что такое 
          span.text--accent "Материал щит"
          | ?
        .about__description.center
          | "Материал щит" - это специальное защитное покрытие, содержащее акрил, полиэтиленовый воск и специальные полимеры, позволяющиие отталкивать воду и грязь от финишного слоя.
        .about__slider
          .slider__container
            each item in sliderItems
              each _item, index in item
                if index === 1
                  .slider__item
                    .item__image
                      img(src=`/views/images/slider/pics/${_item[0]}`)
                    .item__description
                      | include `/views/images/slider/desc/${_item[1]}`
          .slider__controls
            .control.control--left
            .control.control--right
          .slider__stages
            each item, index in sliderItems
              if index === 0
                .stage.stage--active
              else
                .stage
      section#main__stages.main__stages
        h2.stages__heading.heading.center Этапы работ
        ul.stages-list
          li.stages-list__item.stages-list__item--left
            .list-item__text Локальное удаление и зачистка стен и элементов фасада
          li.stages-list__item.stages-list__item--right
            .list-item__text Грунтование стен и всех элементов фасада здания
          li.stages-list__item
            .list-item__text
              | Нанесение на стены и все элементы фасада материала Материал щит безвоздушным агрегатом высокго давления
      section#main__characteristics.main__characteristics
        .characteristics__image
        .characteristics__filter
        .characterictics__content
          h2.characteristics__heading.heading.center Характеристики материала
          .characteristics-list__wrapper
            ul.characteristics-list
              li.characteristics-list__item.text--bold
                .text--secondary Конститенция
                .text--black однородная жидкая масса
              li.characteristics-list__item.text--bold
                .text--secondary Цвет
                .text--black Прозрачный
              li.characteristics-list__item.text--bold
                .text--secondary Плотность
                .text--black 1.4-1.5 г/см3
              li.characteristics-list__item.text--bold
                .text--secondary Вязкость по Брукфильду
                .text--black 250 000 - 450 000 МПа с
              li.characteristics-list__item.text--bold
                .text--secondary Водонепроницаемость
                .text--black не менее W8 (8 атм)
            ul.characteristics-list
              li.characteristics-list__item.text--bold
                .text--secondary Термостойкость
                .text--black -50 до +150
              li.characteristics-list__item.text--bold
                .text--secondary Расход
                .text--black
                  | 1 кг/м2
                  span.text--secondary *
                .note.text--secondary.text--normal * при толщине сплошного слоя 1 мм
              li.characteristics-list__item.text--bold
                .text--secondary Температура
                .text--black +5 - +45
              li.characteristics-list__item.text--bold
                .text--secondary Время высыхания
                .text--black
                  | 24 часа
                  span.text--secondary **
                .note.text--secondary.text--normal ** при температуре не ниже +15
            ul.characteristics-list
              li.characteristics-list__item.text--bold
                .text--secondary Гарантийный срок хранения
                .text--black 12 месяцев
              li.characteristics-list__item.text--bold
                .text--secondary Относительное удлинение
                .text--black 250%
              li.characteristics-list__item.text--bold
                .text--secondary Адгезия к бетону
                .text--black не менее 2Мпа
              li.characteristics-list__item.text--bold
                .text--secondary Возможность хождения
                .text--black через 24 часа
            .characteristics__note.text--bold
              .note__item.text--secondary
                | Гарантийный срок составляет 
                span.text--accent 5 лет.
              .note__item.text--secondary
                | Срок службы материала минимум 
                span.text--accent 15 лет.
      section#main__price.main__price
        h2.price__heading.heading.center Стоимость услуг
        .price__wrapper
          .price__banner-wrapper
            .price__banner
              .banner-image
              .banner-filter
              .banner-content.center
                .price__banner-heading
                  | Гидрофобизация гидроизоляционным 
                  span.text--bold.text--uppercase "Материалом щит"
                .price__banner-content
                  .price__banner-text.text--bold
                    span.banner-text__content 800 руб/кв.м
                .price__banner-note
                  | при объёме работ 
                  span.text--bold от 2000 кв.м.
                  |  компания предоставляет рассрочку при оплате 50% от суммы договора
          .price__properties
            .properties__title
              | Приобретенные свойства фасада зданий с технологией 
              span.text--bold.text--uppercase "Материал щит"
            ul.properties__list
              li.properties__list-item
                .list-item__text гидроизоляция стен фасада
              li.properties__list-item
                .list-item__text теплоизоляция стен фасада
              li.properties__list-item
                .list-item__text антикоррозийная защита металлических элементов и конструкций
              li.properties__list-item
                .list-item__text ветрозащита фасада
              li.properties__list-item
                .list-item__text защита от плесени и грибка
              li.properties__list-item
                .list-item__text улучшение внешнего вида здания
              li.properties__list-item
                .list-item__text предотвращение дальнейших разрущений
      section#main__portfolio.main__portfolio
        h2.portfolio__heading.heading.center Благодарственные письма
        each image, index in portfolio
          if index % 4 !== 0          
            .portfolio__content
              img.portfolio__image(src=`/views/images/portfolio/${images[index - 3]}`, alt='')
              img.portfolio__image(src=`/views/images/portfolio/${images[index - 2]}`, alt='')
              img.portfolio__image(src=`/views/images/portfolio/${images[index - 1]}`, alt='')
              img.portfolio__image(src=`/views/images/portfolio/${images[index]}`, alt='')
      section#main__order.main__order
        .order__image
        .order__filter
        .order__form-wrapper
          form.order__form
            h2.form__heading.heading.center Оставить заявку
            .mt-1
            .alert.alert--success.success(style='display: none') Ваша заявка успешно отправлена! Мы постараемся ответить Вам как можно скорее!
            .alert.alert--danger.error(style='display: none') Проверьте правильность введённых Вами данных.
            .form__item
              label.form__label(for='name') Как к Вам можно обращаться?
              input#name.form__input(type='text', placeholder='Иван Иванов')
            .form__item
              label.form__label(for='contact') Контактные данные
              input#contact.form__input(type='text', placeholder='Телефон / E-mail')
            .form__item
              label.form__label(for='order') Текст заявки
              textarea#order.form__input.form__input--textarea(type='text', placeholder='Опишите здесь свою заявку')
            .form__action
              button.btn.btn--accent(onclick='sendMsg()') Отправить заявку
    footer.footer
      .footer__wrapper
        section.footer__contacts.text--white
          | Если у вас остались вопросы:
          ul.contacts-list.text--bold
            li.contacts-list__item
              .phone-icon.icon
                img(src='../views/images/phone.png', alt='')
              span.contacts__text 8 (951) 689-93-13
            li.contacts-list__item
              .mail-icon.icon
                img(src='../views/images/mail.png', alt='')
              span.contacts__text
                a.contacts__link(href='mailto:rss178@yandex.ru') rss178@yandex.ru
        section.footer__banner
          img(src='../views/images/logo-lg.png', alt='Логотип компании')
        section.footer__copyright.text--secondary
          .copyright-item.copyright__company ООО "АКТЕРМ-СП"
          .copyright-item.copyright__index 194356, Санкт-Петербург
          .copyright-item.copyright__address Луначарского пр-кт, дом 52, к 2
    script(type='text/javascript', src='../scripts/slider.js')
    script(type='text/javascript', src='../scripts/portfolio.js')
    script(type='text/javascript', src='../scripts/mailer.js')
    script(type='text/javascript', src='../scripts/ym.js')
