doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Актерм
    link(rel="stylesheet" href="../styles/index.css")
  body
    .parent
      section.w-100.block
        each image, index in images
          if index % 2 !== 0 && index > 0 && index < 2
            section.comparsion
              .gradient.h-200
                header.logo-container
                  img.logo(src="/assets/logo.svg")
                img.top(src="/assets/background/gradient-0.png")
                h1.heading.upper.white.left.ml-5.mb-1.fs-lg.z-10.block
                  p Защита и
                  p восстановление
                  p фасада
                img.bottom.mt-10(src="/assets/background/gradient-2.png")
                .comparsion
                  .img-compare(style=`--img: url(${picPath}/${images[index - 1]});`)
                  .img-compare(style=`--img: url(${picPath}/${image});`)  
      section.container.w-100
        each image, index in images
          if index % 2 !== 0 && index > 2 && index < 4
            section.comparsion.block
              .gradient
                img.top(src="/assets/background/gradient-7.png")
                img.bottom(src="/assets/background/gradient-9.png")
                .comparsion
                  .img-compare(style=`--img: url(${picPath}/${images[index - 1]});`)
                  .img-compare(style=`--img: url(${picPath}/${image});`)  
      section.brief.block
        h2.heading.fs-lg АКТЕРМ 
          span.accent Кристалл
        h3.center.fs-md Защитное покрытие
        p.desc Защитное покрытие для фасадов, декортиавного камня и дерева. Содержит акрил, полиэтиленовый воск и специальные полимеры, позвояющие оттакливаться воду и грязь от финишного слоя. Актерм Кристалл разработан для защиты фасада от влаги и ветра, а так же для сохранения его структуры и улучшения внешнего вида. После нанесения поверхность имеет матово-глянцевый оттенок. Актерм Кристалл создаёт прочную бесшовную и эластичную поверхность. Продукт экологически безопасен, не имеет резкого запаха, обладает длительной стойкостьб к воздействию стоячей воды и паропрницаемостью на фасаде. Содержит биоциды убивающие грибок и плесень. Срок службы более 15 лет.
        p.accent Мы работаем с "АКТЕРМ КРИСТАЛЛ" и знаем о нём всё!
        h4.fs-md
          strong Стоимость работ
        ul
          li Гидрофобизация стен фасада дома АКТЕРМ Кристалл 800 руб/кв.м.

        p При объёме работ от 2000 кв.м. компания предоставляет рассрочку при оплате 50% от суммы договора.
        p Приобретенные свойства фасада зданий и сооружений после выполнения ремонтных работ по технологии "Актерм Кристалл":
        ul
          li гидроизоляция стен фасада
          li теплоизоляция стен фасада
          li антикоррозийная защита металлических элементов и металлических конструкций
          li ветрозащита фасада
          li защита от плесени и грибка
          li улучшение внешнего вида здания
          li предотвращение дальнейших разрушений, растрескиваний и осыпания стен и элементов фасада.
        h4.fs-md.block
          strong Этапы работ:
        ol
          li Локальное удаление и зачистка стен и элементов фасада (выступов, парапетов, откосов окон, межпанельных швов (в панельных зданиях и сооружениях), декоративных элементов стен, швов перекрытия плит).
          li Грунтование стен и всех элементов стен фасада здания (стен, выступов, парапетов, отсов окон, межпанельных швов (в панельных зданиях и сооружениях), декоративных элементов стен, швов перекрытия плит).
          li Нанесене на стены и все элмент фасада материала Актерм Кристалл (бесцветного или колерованного в соответствии сеткой колеровки) безвоздушным агрегатом высокого давления.
        .order
          .wrapper
            h3.center.accent.fs-md.mb-1 Оставить заявку
            .success Ваша заявка успешно отправлена и уже принята в обработку!
            .error Все поля обязательны к заполнению.
            label(for="orderName") Как к Вам можно обращаться?
            input(type="text", placeholder="Иван Иванович", id="orderName")
            label(for="orderContact") Контактные данные
            input(type="text", placeholder="Email/телефон", id="orderContact")
            label(for="orderAnnotation") Текст заявки
            textarea(placeholder="Текст заявки", id="orderAnnotation")
            button(type="button", onclick="sendMsg()") Отправить заявку
        script(src="./scripts/mailer.js")
      section.container.w-100
        each image, index in images
          if index % 2 !== 0 && index > 4
            section.comparsion.block
              .gradient
                img.top(src="/assets/background/gradient-7.png")
                img.bottom(src="/assets/background/gradient-9.png")
                .comparsion
                  .img-compare(style=`--img: url(${picPath}/${images[index - 1]});`)
                  .img-compare(style=`--img: url(${picPath}/${image});`)  
      section.contacts.block
        .grad-contacts
          img(src="/assets/background/gradient-10.png")
          .content-contacts
            h3.fs-lg.upper.center Технические характеристики
            ul
              li Конститенция:
                span.ml-auto Однородная жидкая масса
              li Цвет:
                span.ml-auto Прозрачный
              li Плотность:
                span.ml-auto 1.4-1.5 г/см3
              li Вязкость по Брукфильду:
                span.ml-auto от 250 000 до 450 000 МПа с
              li Термостойкость:
                span.ml-auto от -50 до +150
              li Расход:
                span.ml-auto 1 кг/м2 при толщине сплошного слоя 1 мм
              li Температура применения:
                span.ml-auto от +5 до +45
              li Время высыхания:
                span.ml-auto 24 часа при температуре не нижу +15
              li Гарантийный срок хранения:
                span.ml-auto 12 месяцев
              li Относительное удлинение:
                span.ml-auto 250%
              li Адгезия к бетону:
                span.ml-auto Не менее 2Мпа
              li Возможность хождения:
                span.ml-auto Через 24 часа
              li Водонепроницаемость:
                span.ml-auto не менее W8 (8 атм)
            .p-container
              p Гарантийный срок составляет 5 лет.
              p Срок службы материала минимум 15 лет.

          .cont.block
            h3.accent.upper.fs-md Контакты:
            p ООО "АКТЕРМ-СП"
            P 194356, Санкт-Петербург г, Луначарского пр-кт, дом 52, к 2
            p 8 (951) 668-93-13
            p
              a(href="mailto:rss178@yandex.ru") rss178@yandex.ru

