doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Актерм
    style
      include ../styles/index.css
  body
    .w-100
      each image, index in images
        if index % 2 !== 0 && index > 0 && index < 2
          section.comparsion
            .gradient.h-200
              header.logo-container
                img.logo(src="/home/kantegory/work/arkterm/client/assets/logo.svg")
              img.top(src="/home/kantegory/work/arkterm/client/assets/background/gradient-1.png")
              h1.heading.upper.white.left.ml-5.mb-2.fs-lg.z-10
                p Жидкие
                p изоляционные
                p покрытия
              img.bottom.mt-10(src="/home/kantegory/work/arkterm/client/assets/background/gradient-2.png")
              img(src=(`${directory}/${images[index - 1]}`))
              img(src=(`${directory}/${image}`))  
    main.container.w-100
      each image, index in images
        if index % 2 !== 0 && index > 2 && index < 4
          section.comparsion
            .gradient
              img.top(src="/home/kantegory/work/arkterm/client/assets/background/gradient-3.png")
              img(src=(`${directory}/${images[index - 1]}`))
              img.middle(src="/home/kantegory/work/arkterm/client/assets/background/gradient-4.png")
              img(src=(`${directory}/${image}`))
              img.bottom(src="/home/kantegory/work/arkterm/client/assets/background/gradient-5.png")
    section.brief
      h2.heading АКТЕРМ 
        span.accent Кристалл
      h3 Защитное покрытие
      p.desc Защитное покрытие для фасадов, декортиавного камня и дерева. Содержит акрил, полиэтиленовый воск и специальные полимеры, позвояющие оттакливаться воду и грязь от финишного слоя. Актерм Кристалл разработан для защиты фасада от влаги и ветра, а так же для сохранения его структуры и улучшения внешнего вида. После нанесения поверхность имеет матово-глянцевый оттенок. Актерм Кристалл создаёт прочную бесшовную и эластичную поверхность. Продукт экологически безопасен, не имеет резкого запаха, обладает длительной стойкостьб к воздействию стоячей воды и паропрницаемостью на фасаде. Содержит биоциды убивающие грибок и плесень. Срок службы более 15 лет.
      p.accent Мы работаем с "АКТЕРМ КРИСТАЛЛ" и знаем о нём всё!
      h4
        strong Стоимость работ
      ul
        li Гидрофобизация стен фасада дома АКТЕРМ Кристалл 800 руб/кв.м.
        li Стоимость колеровки материала компания берет на себя.

      p При объёме работ от 2000 кв.м. компания предоставляет рассрочку при оплате 50% от суммы договора.
      p Приобретенные свойства фасада зданий и сооружений после выполнения ремонтных работ по технологии "Актерм Кристалл":
      ul
        li гидроизоляция стен фасада
        li теплоизоляция стен фасада
        li антикоррозийная защита металлических элементов и металлических конструкций
        li ветрозащита фасада
        li защита от плесени и грибка
        li улучшение внешнего вида здания
        li предотвращение дальнейших разрушений, растрескиваний и осыпания стен и элементов фасада.
      h4
        strong Этапы работ:
      ol
        li Локальное удаление и зачистка стен и элементов фасада (выступов, парапетов, откосов окон, межпанельных швов (в панельных зданиях и сооружениях), декоративных элементов стен, швов перекрытия плит).
        li Грунтование стен и всех элементов стен фасада здания (стен, выступов, парапетов, отсов окон, межпанельных швов (в панельных зданиях и сооружениях), декоративных элементов стен, швов перекрытия плит).
        li Нанесене на стены и все элмент фасада материала Актерм Кристалл (бесцветного или колерованного в соответствии сеткой колеровки) безвоздушным агрегатом высокого давления.
    main.container.w-100
      each image, index in images
        if index % 2 !== 0 && index > 4
          section.comparsion
            .gradient
              img.top(src="/home/kantegory/work/arkterm/client/assets/background/gradient-7.png")
              img(src=(`${directory}/${images[index - 1]}`))
              img(src=(`${directory}/${image}`))
              img.bottom(src="/home/kantegory/work/arkterm/client/assets/background/gradient-9.png")

